@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root{
    --primary-color: #B73E3E;
	--secondary-color: #4f5057;
	--font: 'Poppins', sans-serif;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background: black;
    font-family: var(--font);
}
.mode {
    display: flex;
    color: white;
    justify-content: center;
}
.change {
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 30px;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
    font-size: 11px;
}
.dark{
    background-color: #222;
    color:white;
}
.logo{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    padding: 0 50px;
    margin: 0px;
    height: 56px;
    font-size: 25px;
    letter-spacing: 3px;
}
.logo::before{
    content: "World";
    color: white;
}
.logo::after{
    content: "FITNESS";
    color: black;
}
nav{
    position:fixed;
    display: flex;
    justify-content: space-between;
    border-top: 5px solid var(--primary-color);
    align-items: center;
    width: 100%;
    height: 60px;
    z-index: 999999;
}
ul{
    display: flex;
    align-items: center;
    height: 60px;
}
ul a{
    font-size: 16px;
    color:white ;
    font-family: var(--font);
    text-decoration: none;
    font-weight: 700;
    margin: 0 15px;
    padding: 5px;
    border-radius: 4px;
}
ul a:hover{
    text-decoration: underline;
    color: var(--primary-color);
}
ul li{
    list-style: none;
}
.active{
    background-color: var(--secondary-color);
}
.banner{
    background: url(sources/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 90vh;
}
.intro{
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    width: 850px;
}
.intro h2,p{
    display: block;
    width: 60%;
}
.intro h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
}
.btn{
    padding: 10px 35px;
    margin-top: 25px;
    background-color: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 5px;
}
.btn a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: var(--font);
    font-size: 15px;
}
.btn:hover{
    background-color: transparent;
    cursor: pointer;
}
.row{
    display: flex;
    justify-content: center;
}
.card{
    width: 33.3%;
    height: 300px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.card:hover h2{font-size: 30px;}
.card h2{text-transform: uppercase;}
footer{
    border: 2px solid black;
    text-align: center;
}
.Trainers{
    border: 5px solid black;
    height: 250px;
    display: flex;
    justify-content: space-between;
}
.Trainers h2,span{
    margin:20px 50px;
    display: block;
    width: 60%;
}
.Trainers span{
    font-size: 16px;
}
.Trainers img{
    margin: 20px 225px;
}
#t1{
    background-color: var(--secondary-color);
}
#t2{
    background-color: var(--primary-color);
    text-align: right;
}
#t3{
    background-color: var(--secondary-color);
}

/* ------------------------------SHOP---------------------------- */
.banner2{
    background: url(sources/offer.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: scroll;
    height: 600px;
}
.banner2 button{
    color: black;
    cursor: pointer;
    position: absolute;
    top: 56.1%;
    left: 27.7%;
    background: transparent;
    padding: 3px 4px;
    border: 0;
    font-size: 16px;
}
.banner2 button a{
    color: transparent;
    text-decoration: none;
}
.as{
    position: absolute;
    top: 75%;
    width: 100%;
    background-color: beige;
}
.ass{
    height: 200px;
    border: 5px solid black;
    border-radius: 50px;
    background-color: var(--primary-color);
    display:flex;
    justify-content: space-evenly;
    margin: 30px;
}
.ass h2{
    text-transform: uppercase;
    text-decoration: underline;
    width: 15%;
}
.ass p{
    color: white;
    padding-top: 45px;
    display: block;
    width: 33.3%;
    font-size: 16px;
}

/* -------------------------About US--------------------------------- */

.banner3{
    background: url(sources/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height:1000px;
    background-color: black;
    color: white;
    text-align: center;
}
.banner3 h1{text-transform: uppercase;font-family: var(--font);}
#header1{
    position: relative;
    top: 16%;
}
.info{
    position: relative;
    top: 35%;
    color: white;
    display: flex;
    justify-content: space-between;
    margin:0 50px;
}
.info div{
    background-color: var(--secondary-color);
    font-family: var(--font);
    width: 45%;
    text-align: center;
    padding: 30px;
    border-radius: 9px;
    border: 5px solid var(--primary-color);
}
.info div p{
    width: 96%;
}
#header2{position: relative;top: 50%;}
#div3{
    position: relative;
    top: 55%;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}